:root {
    --pc: #ffcad4;
    --rc: #f4acb7;
    --hp: #ff4d6d;
    --hp2: #ff7e96;
    --bg: #81676e;
    --wc: #fff;
    --dc: #ddd;
}

.big {
    font-size: 50px;
    font-weight: 800;
    font-family: 'Noto Serif KR';
    color: var(--bg);

    text-align: center;
    margin: 50px 0;
}

.btn {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Noto Serif KR';
    background: var(--bg);
    color: var(--rc);
    padding: 10px 40px 13px 40px;
}

/* ----------------------------------- */


.header {

    top: 0;
    padding-top: 38px;
}

.header_top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: var(--bg);
    padding: 10px 0;
    height: 38px;
}

.top_search>ul {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: right;
}

.top_search>ul>li {
    color: var(--dc);
    font-size: 15px;
    font-weight: 300;
}

.top_search>ul>li i {
    color: var(--pc);
    font-size: 18px;
}

/* 맨 위 탑메뉴 끝 */

.header .header_logo {
    text-align: center;
    margin: 30px;
}


.header_wrap {
    position: sticky;
    top: 30px;
    z-index: 999;
    background: var(--wc);
}

.gnb {}

.gnb .nav_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gnb .nav_wrap li {
    position: relative;
    padding: 0 0 15px 0;
    text-align: center;
}

.gnb .nav_wrap>li {
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
}

.gnb .nav_wrap>li:hover {
    font-weight: 500;
}

.gnb .nav_wrap>li::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 100px;
    width: 5px;
    height: 5px;

    transform: translate(-50%, 0);
    background: var(--pc);
    border-radius: 50%;

    transition: 0.5s;

    opacity: 0;
}

.gnb .nav_wrap>li:hover::after {
    opacity: 1;
}

.gnb .nav_wrap a {
    display: block;
    color: var(--bg);
    margin: 25px 0 0 0;
}




.gnb .nav_wrap .sub {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--wc);
    width: 180px;
    text-align: center;

    border-radius: 20px;
    border: 1px solid var(--dc);

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;

    z-index: 999;

}

.gnb .nav_wrap>li:hover .sub {
    top: 75px;
    opacity: 1;
    visibility: visible;
}

.gnb .sub a {
    padding: 25px 0 15px 0;
    margin: 1px 0;
    color: rgb(17, 17, 17);
    font-size: 15px;
    font-weight: 300;
    line-height: 10px;
}

.gnb .sub a:hover {
    font-weight: 500;
    color: var(--hp2);
}

/* ---------------------------- */
.main_visual {
    position: relative;
}

.main_visual .main_slide .slide01 {
    background: url(../images/main01-transformed.jpeg)no-repeat center center/cover;
    height: 80vh;
}

.main_visual .main_slide .slide02 {
    background: url(../images/main02-transformed.jpeg) no-repeat center center/cover;
    height: 80vh;
}

.main_visual .main_slide .slide {
    position: relative;
}

.main_visual .main_slide .slide .slide_txt {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(30%, 50%);
    text-align: center;
    font-family: 'Noto Serif KR';
}

.slide_txt span {
    display: block;
    color: var(--hp);
    font-size: 30px;
    font-weight: 300;
    margin: 0 0 25px 0
}

.slide_txt h2 {
    font-size: 90px;
    font-weight: 600;
    color: var(--hp);
    margin: 0 0 40px 0;
}

.slide_txt p {
    font-size: 22px;
    color: var(--bg);
    margin: 0 0 70px 0;
}

/* ------------------------------- */

.main_visual .slick-dots {
    position: absolute;
    bottom: 60px;
    left: 920px;
}

.main_visual .slick-dots>li {
    display: inline-block;
    padding: 5px 5px;
}


.main_visual .slick-dots>li button {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border: none;
    font-size: 0;
    border-radius: 50%;
    background: var(--bg);
}


.main_visual .slick-dots>li button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--hp);
}

/* 선택된 도트 */

.main_visual .slick-dots>li.slick-active button::after {
    width: 100%;
}


/* ------------------------------- */

.main_menu {
    position: relative;
    border-bottom: 1px solid var(--dc);
    padding: 40px 0;
}

.main_menu .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    max-width: 1400px;
    width: 100%;
}

.main_menu .arrows i {
    position: absolute;
    font-size: 40px;
    color: var(--dc);
    top: 0;
    cursor: pointer;
}

.main_menu .arrows i:hover {
    color: var(--hp);
}

.main_menu .arrows .left {
    left: 0;
}

.main_menu .arrows .right {
    right: 0;
}

.main_menu .img_box img {
    transition: 0.3s;
}

.main_menu .img_box img:hover {
    opacity: 0.7;
}

.main_menu .txt_box {
    margin: 50px 0;
    text-align: center;
}

.main_menu .txt_box h3 {
    font-weight: 500;
    margin: 0 0 5px 0;
}

.main_menu .txt_box strong {
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 25px 0;
    line-height: 25px;
}

.main_menu .txt_box p {
    font-size: 16px;
    font-weight: 500;
    color: var(--bg);
}


.main_menu .menu_slide {
    opacity: 0;
    transform: translate(0, 100px);
    transition: 0.5s;
}

.main_menu.on .menu_slide {
    opacity: 1;
    transform: translate(0, 0);
}

/* ------------------------------- */

.content {
    padding: 80px 0 80px 0;
}

.content .itm {
    opacity: 0;
    transform: translate(0, 100px);
    transition: 0.5s;
}

.content.on .itm {
    opacity: 1;
    transform: translate(0, 0);
}

.content .content_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.content .content_wrap .itm {
    position: relative;
    cursor: pointer;
}

.content .content_wrap .itm .txt_box {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 0 0 50px 0;
}

.content .content_wrap .itm::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 2px solid var(--hp2);
    border-left: 2px solid var(--hp2);

    visibility: hidden;

    transition: 0.5s;
    z-index: 5;
}

.content .content_wrap .itm:hover::before {
    width: 100%;
    height: 100%;
    visibility: visible;
}

.content .content_wrap .itm::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 2px solid var(--hp2);
    border-right: 2px solid var(--hp2);

    visibility: hidden;

    transition: 0.5s 0.2s;
}

.content .content_wrap .itm:hover::after {
    width: 100%;
    height: 100%;

    visibility: visible;
}

.content .content_wrap .itm .txt_box h3 {
    font-size: 25px;
    margin: 0 0 40px 0;
}

.content .content_wrap .itm .txt_box p {
    margin: 0 60px 40px 50px;
}


/* --------------------------------------- */

.video {
    padding: 100px 0;
}

.video_wrap {
    display: flex;
    gap: 80px;
}

.video .video_wrap {
    opacity: 0;
    transform: translate(-100px, 0);
    transition: 0.6s;
}

.video.on .video_wrap {
    opacity: 1;
    transform: translate(0, 0);
}


.video_box video {
    width: 816px;
    height: 459px;
}

.video .video_wrap .txt_box {
    width: 650px;
}

.video .video_wrap .txt_box h3 {
    font-style: italic;
    margin: 50px 0 60px 0;
    text-align: left;
}

.video .video_wrap .txt_box strong {
    position: relative;
    display: block;

    color: #5f555a;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    font-family: 'Noto Serif KR';

    line-height: 55px;

    word-break: keep-all;
    margin: 0 0 100px 0;

    text-align: left;
}

.video .video_wrap .txt_box strong::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0;
    background: var(--bg);
    width: 55px;
    height: 1px;
}



/* -------------------------------------------------- */
.sns {
    padding: 0 0 150px 0;
}

.sns .title {
    opacity: 0;
    transform: translate(100px, 0);
    transition: 0.6s;
}

.sns.on .title {
    opacity: 1;
    transform: translate(0, 0);
}


.sns .img_box figure {
    box-shadow: 0px 0px 10px #c5c5c5;
    transition: 0.5s;
    overflow: hidden;
}

.sns .img_box figure:hover {
    box-shadow: none;
}

.sns .img_box img {
    transition: 0.5s;
}

.sns .img_box img:hover {
    transform: scale(1.2);
}

.sns .title {
    text-align: center;
    padding: 0 0 60px 0;
}

.sns .title p {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Noto Serif KR';
    line-height: 30px;
}

.sns .title p strong {
    color: var(--rc);
}

.sns .title span {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Noto Serif KR';
    line-height: 30px;
}

.sns .img_box {
    display: flex;
    justify-content: right;
    gap: 30px;
}


.sns .img_box img:hover {
    /* 호버하면 효과나오게하기 */
}

/* -------------------------------------- */

.footer {
    background: #3f3a3d;
    padding: 10px 0;
    color: #83777c;
}

.footer_middle {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ffffff15;
    align-items: center;
}

.footer_middle ul {
    display: flex;
    gap: 30px;
    color: #afa7aa;
}

.footer_bottom {
    margin: 20px 0;
}

.footer_bottom ul {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
}

.mobile_btn {
    display: none;
}


/* -------------------------------------------- */


@media (max-width:768px) {

    * {
        outline: 1px solid --tomato;
    }

    .header {
        padding-top: 70px;
    }

    .header_top {
        height: 60px;
        background: var(--wc);
    }

    .top_search>ul {
        opacity: 0;
    }

    .gnb.on .top_search>ul {
        opacity: 1;
    }

    .top_search>ul>li {
        color: var(--dc);
        font-size: 15px;
        font-weight: 300;
    }

    .top_search>ul>li i {
        color: var(--pc);
        font-size: 18px;
    }

    /* 맨 위 탑메뉴 끝 */

    .header .header_logo {
        /* b */

        position: fixed;
        top: -15px;
        left: 35%;
        width: 100%;
        z-index: 9999;
        max-width: 65px;
    }


    .header_wrap {
        position: sticky;
        top: 30px;
        z-index: 1000;
        background: var(--wc);
    }

    .gnb {
        position: fixed;
        inset: 0 100% 0 auto;
        background: var(--bg);
        width: 100%;
        opacity: 0;
        transition: 0.5s;

        /* b */
        inset: 0 100% 0 auto;
        background: var(--wc);
    }

    .gnb.on {
        opacity: 1;
        inset: 0 auto 0 0;
    }

    .gnb .nav_wrap {
        /* b */
        display: flex;
        flex-direction: column;
        padding: 100px 0 0 0;

    }

    .gnb .nav_wrap li {
        position: relative;
        padding: 0;
        text-align: center;

    }

    .gnb .nav_wrap>li {
        font-size: 16px;
        font-weight: 300;
        line-height: 35px;
        border-bottom: 1px solid var(--dc);
        padding: 0 0 15px 0;
    }

    .gnb .nav_wrap>li:hover {
        font-weight: 300;
    }

    .gnb .nav_wrap>li::after {
        display: none;
    }

    .gnb .nav_wrap>li::before {
        position: absolute;
        content: "\e943";
        font-family: xeicon;
        bottom: 15px;
        right: 145px;
        color: #9c9c9c;
    }

    .gnb .nav_wrap a {
        display: block;
        color: inherit;
        margin: 25px 0 0 0;
    }


    .gnb .nav_wrap .sub {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%, 0);
        background: var(--wc);
        width: 180px;
        text-align: center;

        border-radius: 20px;
        border: 1px solid var(--dc);

        opacity: 0;
        visibility: hidden;
        transition: none;

        z-index: 999;

        /* b */
        position: static;
        transform: translate(0, 0);
        background: #f2f2f2;
        text-align: center;
        height: 100%;
        width: 100%;
        opacity: 1;
        visibility: visible;
        border-radius: 0;
        border: none;

    }

    .gnb .nav_wrap>li:hover .sub {
        display: none;
    }

    .gnb .sub a {
        padding: 25px 0 15px 0;
        margin: 1px 0;
        color: rgb(17, 17, 17);
        font-size: 15px;
        font-weight: 300;
        line-height: 10px;
    }

    .gnb .sub a:hover {
        font-weight: 300;
        color: rgb(17, 17, 17);
    }


    .mobile_btn {
        display: block;
        position: fixed;
        top: 20px;
        left: 15px;
        z-index: 10000;
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }

    .mobile_btn::before,
    .mobile_btn::after {
        content: "";
        position: absolute;
        inset: 14px 5px auto 5px;
        height: 2px;
        background: #444;
    }

    .mobile_btn.on::before {
        transform: rotate(45deg);
        transition: 0.5s 0.2s;
    }

    .mobile_btn.on::after {
        transform: rotate(-225deg);
        transition: 0.5s 0.6s;
    }


    .mobile_btn button {
        border: none;
        outline: none;
        background: transparent;
    }

    .mobile_btn button::before,
    .mobile_btn button::after {
        content: "";
        position: absolute;
        height: 2px;
        background: #444;
    }

    .mobile_btn button::before {
        inset: 7px 5px auto 5px;
    }

    .mobile_btn button::after {
        inset: auto 5px 7px 5px;
    }

    .mobile_btn.on button::before {
        display: none;
    }

    .mobile_btn.on button::after {
        display: none;
    }

    /* ---------------------------- */
    .main_visual {
        position: relative;
    }

    .main_visual .main_slide .slide01 {
        background: url(../images/m_main01.jpeg)no-repeat center center/cover;
    }

    .main_visual .main_slide .slide02 {
        background: url(../images/m_main02.jpeg) no-repeat center center/cover;
    }

    .main_visual .main_slide .slide {
        position: relative;
    }

    .main_visual .main_slide .slide .slide_txt {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(30%, 50%);
        text-align: center;
        font-family: 'Noto Serif KR';

        /* b */
        display: none;
    }

    /* ------------------------------- */

    .main_visual .slick-dots {
        position: absolute;
        bottom: 60px;
        left: 920px;

        /* p */
        bottom: 35px;
        left: 46%;


    }

    .main_visual .slick-dots>li {
        display: inline-block;
        padding: 5px 5px;
    }


    .main_visual .slick-dots>li button {
        position: relative;
        width: 20px;
        height: 20px;
        overflow: hidden;
        border: none;
        font-size: 0;
        border-radius: 50%;
        background: var(--bg);

        /* b */

        background: #d8d8d8;
        width: 10px;
        height: 10px;
    }


    .main_visual .slick-dots>li button::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--hp);

        /* b */
        background: var(--wc);
    }

    /* 선택된 도트 */

    .main_visual .slick-dots>li.slick-active button::after {
        width: 100%;
    }


    /* ------------------------------- */

    .main_menu {
        position: relative;
        border-bottom: 1px solid var(--dc);
        /* b */
        padding: 20px 0 80px 0;
    }

    .main_menu .big {
        font-size: 30px;
    }


    .main_menu .arrows {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
        transform: translate(-50%, -50%);
        max-width: 1400px;
        width: 100%;

        /* b */

        top: 90%;
        max-width: 350px;
    }

    .main_menu .arrows i {
        position: absolute;
        font-size: 40px;
        color: var(--dc);
        top: 0;
        cursor: pointer;

        /* b */
        font-size: 30px;
        color: var(--hp2);
    }


    .main_menu .arrows i:hover {
        color: var(--hp2);
    }

    .main_menu .arrows .left {
        left: 0;
    }

    .main_menu .arrows .right {
        right: 0;
    }

    .main_menu .img_box img {
        transition: 0.3s;
    }

    .main_menu .img_box img:hover {
        opacity: 1;
    }

    .main_menu .txt_box {
        margin: 50px 0;
        height: 80px;
        text-align: center;

    }

    .main_menu .txt_box h3 {
        font-weight: 500;
        margin: 0 0 5px 0;
        /* r */
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
    }

    .main_menu .txt_box strong {
        display: block;
        font-size: 14px;
        font-weight: 300;
        margin: 0 0 25px 0;
        line-height: 25px;

        /* d */
        display: none;
    }

    .main_menu .txt_box p {
        position: absolute;
        font-size: 16px;
        font-weight: 500;
        color: var(--bg);
        bottom: 0;
        left: 30px;
    }


    .main_menu .menu_slide {
        opacity: 0;
        transform: translate(0, 100px);
        transition: 0.5s;
    }

    .main_menu.on .menu_slide {
        opacity: 1;
        transform: translate(0, 0);
    }

    /* ------------------------------- */

    .content {
        padding: 50px 0 50px 0;
    }

    .content .big {
        font-size: 30px;
    }

    .content .itm {
        opacity: 0;
        transform: translate(0, 100px);
        transition: 0.5s;

    }

    .content.on .itm {
        opacity: 1;
        transform: translate(0, 0);
    }

    .content .content_wrap .img_box img {
        display: none;
    }

    .content .content_wrap {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
    }

    .content .content_wrap .itm {
        position: relative;
        cursor: pointer;

        position: unset;

    }

    .content .content_wrap .itm01 {
        background: url(../images/m_content01.jpeg) no-repeat center center/cover;
        height: 20vh;
    }

    .content .content_wrap .itm02 {
        background: url(../images/m_content02.jpeg) no-repeat center center/cover;
        height: 20vh;
    }


    .content .content_wrap .itm .txt_box {
        display: none;
    }

    .content .content_wrap .itm::before {
        display: none;
    }

    .content .content_wrap .itm::after {
        display: none;
    }



    /* --------------------------------------- */

    .video {
        max-width: 768px;
        padding: 60px 0;
    }

    .video_wrap {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .video .video_wrap {
        opacity: 0;
        transform: translate(0, 100px);
        transition: 0.6s;
    }

    .video.on .video_wrap {
        opacity: 1;
        transform: translate(0, 0);
    }


    .video_box video {
        width: 100%;
        height: 100%;
    }

    .video .video_wrap .txt_box {
        width: 100%;
    }


    .video .video_wrap .txt_box h3 {
        font-size: 30px;
        margin: 20px 0;
        text-align: center;
    }

    .video .video_wrap .txt_box strong {
        display: none;
    }

    .video .video_wrap .txt_box p {
        display: none;
    }


    /* -------------------------------------------------- */
    .sns {
        padding: 20px 0 100px 0;
    }

    .sns .big {
        font-size: 30px;
    }

    .sns .title {
        opacity: 0;
        transform: translate(0, 100px);
        transition: 0.6s;
    }

    .sns.on .title {
        opacity: 1;
        transform: translate(0, 0);
    }

    .sns .img_box figure {
        /* b */
        box-shadow: none;
    }

    .sns .img_box img:hover {
        /* b */
        transform: none;
    }

    .sns .title {
        text-align: center;
        padding: 0 0 60px 0;

        /* b */
        padding: 0 0 20px 0;
    }

    .sns .title h2 {
        /* b */
        margin: 0 0 20px 0;
    }

    .sns .title p {
        /* b */
        display: none;
    }

    .sns .title span {
        font-size: 15px;
        font-weight: 300;
        font-family: 'Noto Serif KR';
        line-height: 30px;
    }


    .sns .img_box {
        /* b */
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding: 0 30px;
    }

    /* -------------------------------------- */

    .footer {
        background: #312f30;
        padding: 10px 0;
        color: #83777c;

        /* d */

    }

    .footer_middle {
        display: flex;
        justify-content: space-between;
        padding: 5px 0 10px 0;
        border-bottom: 1px solid #ffffff15;
        align-items: center;

        /* b */
        justify-content: center;

    }

    .footer_middle img {
        display: none;
    }

    .footer_middle ul {
        display: flex;
        gap: 30px;
        color: #afa7aa;

        /* b */
        color: #8b8788;
    }

    .footer_bottom {
        margin: 20px 0;
    }

    .footer_bottom ul {
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 30px;

        /* b */
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        color: #585557;
    }


}