:root {
    --pc: #ffcad4;
    --rc: #f4acb7;
    --rp: #ff4d6d;
    --bg: #81676e;
    --wc: #fff;
    --dc: #ddd;
}

.big {
    font-size: 50px;
    font-weight: 800;
    font-family: 'Noto Serif KR';
    color: var(--bg);

    text-align: center;
    margin: 50px 0;
}

.btn {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Noto Serif KR';
    background: var(--bg);
    color: var(--rc);
    padding: 10px 40px 13px 40px;
}

/* ----------------------------------- */


.header {

    top: 0;
    padding-top: 38px;
}

.header_top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: var(--bg);
    padding: 10px 0;
    height: 38px;
}

.top_search>ul {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: right;
}

.top_search>ul>li {
    color: var(--dc);
    font-size: 15px;
    font-weight: 300;
}

.top_search>ul>li i {
    color: var(--pc);
    font-size: 18px;
}

/* 맨 위 탑메뉴 끝 */

.header .header_logo {
    text-align: center;
    margin: 30px;
}


.header_wrap {
    position: sticky;
    top: 30px;
    z-index: 999;
    background: var(--wc);
}

.gnb {}

.gnb .nav_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gnb .nav_wrap li {
    position: relative;
    padding: 0 0 15px 0;
    text-align: center;
}

.gnb .nav_wrap>li::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 100px;
    width: 5px;
    height: 5px;

    transform: translate(-50%, 0);
    background: var(--pc);
    border-radius: 50%;

    transition: 0.5s;

    opacity: 0;
}

.gnb .nav_wrap>li:hover::after {
    opacity: 1;
}

.gnb .nav_wrap a {
    display: block;
    color: var(--bg);
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
    margin: 25px 0 0 0;
}

.gnb .nav_wrap .sub {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--wc);
    width: 180px;
    text-align: center;

    padding: 10px 0;
    border-radius: 20px;
    border: 1px solid var(--dc);

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;

    z-index: 999;
}


.gnb .nav_wrap>li:hover .sub {
    top: 75px;
    opacity: 1;
    visibility: visible;
}

.gnb .sub a {
    display: block;
    color: rgb(17, 17, 17);
    font-size: 15px;
    line-height: 10px;
}

/* ---------------------------- */
.main_visual {
    position: relative;
}

.main_visual .main_slide .slide01 {
    background: url(../images/main01-transformed.jpeg)no-repeat center center/cover;
    height: 80vh;
}

.main_visual .main_slide .slide02 {
    background: url(../images/main02-transformed.jpeg) no-repeat center center/cover;
    height: 80vh;
}

.main_visual .main_slide .slide {
    position: relative;
}

.main_visual .main_slide .slide .slide_txt {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(30%, 50%);
    text-align: center;
    font-family: 'Noto Serif KR';
}

.slide_txt span {
    display: block;
    color: var(--rp);
    font-size: 30px;
    font-weight: 300;
    margin: 0 0 25px 0
}

.slide_txt h2 {
    font-size: 90px;
    font-weight: 600;
    color: var(--rp);
    margin: 0 0 40px 0;
}

.slide_txt p {
    font-size: 22px;
    color: var(--bg);
    margin: 0 0 70px 0;
}

/* ------------------------------- */

.main_visual .slick-dots {
    position: absolute;
    bottom: 60px;
    left: 920px;
}

.main_visual .slick-dots>li {
    display: inline-block;
    padding: 5px 5px;
}


.main_visual .slick-dots>li button {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border: none;
    font-size: 0;
    border-radius: 50%;
    background: var(--bg);
}


.main_visual .slick-dots>li button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--rp);
}

/* 선택된 도트 */

.main_visual .slick-dots>li.slick-active button::after {
    width: 100%;
}


/* ------------------------------- */

.main_menu {
    position: relative;
}


/* ------------------------------- */
.main_menu .slick-arrow {
    position: absolute;
    bottom: 0;
    left: 0;

    background: transparent;
    border: none;

    width: 200px;
    height: 100px;
}

.main_menu .slick-prev {
    margin: 0 0 0 0;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.main_menu .slick-next {
    margin: 0 0 0 0;
    transform: translate(-50%, -50%) rotate(135deg);
}


/* ------------------------------- */

.content {
    padding: 80px 0 80px 0;
}

.content .content_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.content .content_wrap .itm {
    position: relative;

}

.content .content_wrap .itm .txt_box {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 0 0 50px 0;

}

.content .content_wrap .itm .txt_box h3 {
    font-size: 25px;
    margin: 0 0 40px 0;
}

.content .content_wrap .itm .txt_box p {
    margin: 0 60px 40px 50px;
}

/* -------------------------------------------------- */


/* --------------------------------------- */

.video {
    padding: 100px 0;
}

.video_wrap {
    display: flex;
    gap: 80px;
}

.video_box video {
    width: 816px;
    height: 459px;
}

.video .video_wrap .txt_box {
    width: 650px;
}

.video .video_wrap .txt_box h3 {
    font-style: italic;
    margin: 100px 0 35px 0;
    text-align: left;
}

.video .video_wrap .txt_box strong {
    position: relative;
    display: block;

    color: #363636;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    font-family: 'Noto Serif KR';

    line-height: 55px;

    word-break: keep-all;
    margin: 0 0 60px 0;

    text-align: left;
}

.video .video_wrap .txt_box strong::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    background: var(--bg);
    width: 55px;
    height: 1px;
}

.video .video_wrap .txt_box p {}

/* -------------------------------------------------- */
.sns {
    padding: 0 0 130px 0;
}

.sns .title {
    text-align: center;
    padding: 0 0 60px 0;
}

.sns .title p {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Noto Serif KR';
    line-height: 30px;
}

.sns .title p strong {
    color: var(--rc);
}

.sns .title p span {
    display: block;
}

.sns .img_box {
    display: flex;
    justify-content: right;
    gap: 30px;
}


.sns .img_box img:hover {
    /* 호버하면 효과나오게하기 */
}

/* -------------------------------------- */

.footer {
    background: #363636;
    padding: 10px 0;
    color: #ddd;
}

.footer_middle {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ffffff7a;
    align-items: center;
}

.footer_middle ul {
    display: flex;
    gap: 30px;
}

.footer_bottom {
    margin: 20px 0;
}

.footer_bottom ul {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
}